[project]
name = "EasyDeL"
authors = [
    { name = "Erfan Zare Chavoshi", email = "Erfanzare810@gmail.com" }
]
requires-python = ">=3.8"

readme = "README.md"

version = "0.0.65"

dependencies = [
    "jax>=0.4.20",
    "jaxlib>=0.4.20",
    "flax>=0.8.3",
    "fjformer==0.0.58",
    "einops==0.8.0",
    "transformers>=4.40.0",
    "optax~=0.1.7",
    "msgpack~=1.0.7",
    "ipython~=8.17.2",
    "tqdm~=4.64.1",
    "datasets~=2.14.6",
    "termcolor",
    "tensorboard",
    "numpy~=1.26.2",
    "tensorflow~=2.16.1",
    "tensorflow_datasets<=4.9.0",
    "scipy==1.10.1",
    "websocket-client",
    "websockets"
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
description = "An open-source library to make training faster and more optimized in Jax/Flax"

license = { text = "Apache-2.0" }

keywords = [
    "JAX", "Torch", "Deep Learning", "Machine Learning", "Flax", "XLA"
]


[project.optional-dependencies]

torch = [
    "torch",
    "torchvision",
    "torchaudio"
]

all = [
    "EasyDeL[torch]"
]

[build-system]
requires = ["setuptools>=46.4.0", "wheel>=0.34.2"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages]
find = { where = ["src/python"] }


[project.urls]

Homepage = "https://github.com/erfanzar/EasyDeL"
Issues = "https://github.com/erfanzar/EasyDeL/issues"
Documentation = "https://erfanzar.github.io/EasyDeL"
