jax>=0.4.29
jaxlib>=0.4.29
fjformer==0.0.67
transformers>=4.40.0
optax~=0.2.2
msgpack~=1.0.7
ipython~=8.17.2
tqdm~=4.64.1
datasets~=2.19.2
tensorboard~=2.16.2
numpy~=1.26.2
tensorflow~=2.16.1
tensorflow-datasets~=4.9.6
scipy==1.13.1
websocket-client~=1.8.0
websockets~=11.0.3
flax~=0.8.4