chex>=0.1.7
typing~=3.7.4.3
jax>=0.4.20
jaxlib>=0.4.20
flax>=0.7.5
fjformer>=0.0.55
transformers>=4.34.0
einops~=0.6.1
optax~=0.1.7
msgpack~=1.0.7
ipython~=8.17.2
tqdm~=4.64.1
pydantic==2.5.3
datasets~=2.14.6
setuptools~=68.1.2
gradio~=4.18.0
termcolor
wandb>=0.15.9
tensorboard
torch>=2.1.0
numpy~=1.26.2
uvicorn~=0.23.2
fastapi~=0.104.1
pydantic-core==2.14.6
tensorflow_datasets<=4.9.0
tensorflow~=2.16.1
scipy==1.10.1
websocket-client