chex
typing
jax>=0.4.10
jaxlib>=0.4.10
flax
fjformer>=0.0.1
transformers>=4.33.0
einops
optax
msgpack
ipython
tqdm==4.65.0
datasets==2.14.3
setuptools
torch>=2.0.1
gradio~=3.41.2
distrax
rlax
wandb>=0.15.9
tensorboard
