absl-py==1.4.0
accelerate==0.20.3
accelerator==2023.7.18.dev1
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
altair==5.0.1
altgraph==0.17.3
anyio==3.7.0
appdirs==1.4.4
apturl==0.5.2
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
banal==1.0.6
bcrypt==3.2.0
beautifulsoup4==4.12.2
bitsandbytes==0.38.1
bleach==4.1.0
blinker==1.4
bottle==0.12.25
brlapi==0.8.3
cached-property==1.5.2
cachetools==5.3.1
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
chex==0.1.7
click==8.0.3
cloudpickle==2.2.1
cmake==3.26.3
cmarkgfm==0.8.0
colorama==0.4.4
coloredlogs==15.0.1
comm==0.1.3
command-not-found==0.3
contextlib2==21.6.0
contourpy==1.0.7
copier==8.1.0
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dataset==1.6.0
datasets==2.13.1
dbus-python==1.2.18
debugpy==1.6.7
decorator==5.1.1
deepspeed==0.9.2
defer==1.0.6
defusedxml==0.7.1
diffusers==0.18.1
dill==0.3.6
distro-info==1.1build1
distro==1.7.0
dm-haiku==0.0.9
dm-tree==0.1.8
dnspython==2.4.0
docker-pycreds==0.4.0
docutils==0.17.1
dunamai==1.18.0
duplicity==0.8.21
easydel==0.0.19
easyprocess==1.1
einops==0.6.1
entrypoint2==1.1
erutils==1.2.2.2
etils==1.3.0
exceptiongroup==1.1.1
executing==1.2.0
fastapi==0.97.0
fasteners==0.14.1
fastjsonschema==2.17.1
feedparser==6.0.10
ffmpy==0.3.0
filelock==3.12.0
fjutils==0.0.10
flatbuffers==23.5.9
flax==0.7.1
flet-core==0.8.2
flet-runtime==0.8.2
flet==0.8.2
fonttools==4.39.4
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
funcy==2.0
future==0.18.2
gcsfs==2023.5.0
gitdb==4.0.10
gitpython==3.1.31
google-api-core==2.11.0
google-auth-oauthlib==1.0.0
google-auth==2.19.0
google-cloud-core==2.3.2
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
gradio-client==0.2.7
gradio==3.35.2
greenlet==2.0.2
grpcio==1.54.2
h11==0.14.0
hjson==3.1.0
html2text==2020.1.16
html5lib==1.1
httpcore==0.17.3
httplib2==0.20.2
httpx==0.24.1
huggingface-hub==0.14.1
humanfriendly==10.0
idna==3.3
ifaddr==0.1.7
imageio==2.4.1
importlib-metadata==4.6.4
importlib-resources==5.12.0
ipykernel==6.23.2
ipython-genutils==0.2.0
ipython==8.14.0
ipywidgets==8.0.6
isoduration==20.11.0
jax==0.4.13
jaxlib==0.4.13
jedi==0.18.2
jeepney==0.7.1
jinja2-ansible-filters==1.3.2
jinja2==3.1.2
jmp==0.0.4
joblib==1.2.0
jsonpointer==2.4
jsonschema==4.17.3
jupyter-client==8.2.0
jupyter-console==6.6.3
jupyter-core==5.3.1
jupyter-events==0.6.3
jupyter-server-terminals==0.4.4
jupyter-server==2.6.0
jupyter==1.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
keyboard==0.13.5
keyring==23.5.0
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
linkify-it-py==2.0.2
lit==16.0.5
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
mako==1.1.3
markdown-it-py==2.2.0
markdown==3.4.3
markupsafe==2.1.2
matplotlib-inline==0.1.6
matplotlib==3.7.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==3.0.1
ml-collections==0.1.1
ml-dtypes==0.2.0
mlxu==0.1.11
monotonic==1.6
more-itertools==8.10.0
mouseinfo==0.1.3
moviepy==0.2.3.5
mpmath==1.3.0
msgpack==1.0.5
mss==9.0.1
multidict==6.0.4
multiprocess==0.70.14
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
ninja==1.11.1
notebook-shim==0.2.3
notebook==6.5.4
numpy==1.24.4
oauthlib==3.2.2
objax==1.6.0
olefile==0.46
onnxruntime==1.15.0
opencv-python==4.8.0.74
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.2.3
orbax==0.1.2
orjson==3.9.1
overrides==7.3.1
packaging==23.1
pandas==2.0.2
pandocfilters==1.5.0
parameterized==0.9.0
paramiko==2.9.3
parso==0.8.3
pathspec==0.11.1
pathtools==0.1.2
patool==1.12
pefile==2023.2.7
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.5.0
pip==23.2
pkginfo==1.8.2
platformdirs==3.8.0
plumbum==1.8.2
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==4.23.2
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.0
pyasn1-modules==0.3.0
pyasn1==0.5.0
pyautogui==0.9.54
pycairo==1.20.1
pychromecast==9.4.0
pycparser==2.21
pycups==2.0.1
pydantic==1.10.8
pydub==0.25.1
pygetwindow==0.0.9
pygments==2.15.1
pygobject==3.42.1
pyinstaller-hooks-contrib==2023.5
pyinstaller==5.13.0
pyjwt==2.3.0
pymacaroons==0.13.0
pymsgbox==1.0.9
pynacl==1.5.0
pyparsing==2.4.7
pyperclip==1.8.2
pypng==0.20220715.0
pyrect==0.2.0
pyrfc3339==1.1
pyrsistent==0.19.3
pyscreenshot==3.1
pyscreeze==0.1.29
pytelegrambotapi==4.12.0
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-json-logger==2.0.7
python-multipart==0.0.6
python3-xlib==0.15
pytweening==1.0.7
pytz==2022.1
pyxdg==0.27
pyyaml-include==1.3.1
pyyaml==5.4.1
pyzmq==25.1.0
qrcode==7.4.2
qtconsole==5.4.3
qtpy==2.3.1
questionary==1.10.0
readme-renderer==34.0
regex==2023.5.5
repath==0.9.0
reportlab==3.6.8
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
requests==2.25.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3986==1.5.0
rich==13.3.5
roman==3.3
rsa==4.9
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
screen-resolution-extra==0.0.0
secretstorage==3.3.1
semantic-version==2.10.0
send2trash==1.8.2
sentry-sdk==1.24.0
setproctitle==1.3.2
setuptools==59.6.0
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
sqlalchemy==1.4.48
stack-data==0.6.2
starlette==0.27.0
sympy==1.12
systemd-python==234
tabulate==0.9.0
tensorboard-data-server==0.7.0
tensorboard==2.13.0
tensorstore==0.1.36
terminado==0.17.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.0+cu118
torchvision==0.15.0+cu118
tornado==6.3.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.31.0
triton==2.0.0
twine==3.8.0
typing-extensions==4.6.1
typing==3.7.4.3
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.2
ufw==0.36.1
unattended-upgrades==0.1
uri-template==1.3.0
urllib3==1.26.16
usb-creator==0.3.7
uvicorn==0.22.0
wadllib==1.3.6
waitress==2.1.2
wandb==0.15.3
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.0
websockets==11.0.3
werkzeug==2.3.4
wheel==0.37.1
widgetsnbextension==4.0.7
wikipedia==1.4.0
xdg==5
xkit==0.0.0
xxhash==3.2.0
yarl==1.9.2
zeroconf==0.38.3
zipp==1.0.0