git+https://github.com/erfanzar/EasyDeL.git
datasets
torch
numpy
sentencepiece
accelerate

sphinx
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-book-theme
sphinx-book-theme
ipykernel
myst_nb
recommonmark
ipython_genutils
sphinx-design
docutils==0.16
